body{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: "Afacad", sans-serif;
}
#root{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;  
}
.input{

}
.input:focus{
    outline: none;
}